<% include ../partials/header.ejs %>

<div class="viewport-container">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 ml-md-auto mr-md-auto col-lg-6">

                <div class="card mt-3">
                    <div class="card-body">
                        <h3 class="card-title mb-0 text-center">404 Page Not Found</h3>               
                    </div><!-- .card-body -->
                </div><!-- .card -->    
               
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .viewport-container --> 

<% include ../partials/footer.ejs %>